.loading{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    height: calc(100% - 60px);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 60px;
}

.loading img{
    width: 60px;
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
}