.people{
    margin: 16px;
}

.people__not-found{
    text-align: center;
}

.people__item{
    max-width: 80%;
    margin: 32px auto;
}

.people__item p{
    margin: 0;
}

.people__item__header > span{
    width: 40px;
    height: 40px;
    color: #ffffff;
    border-radius: 100px;
    background-color: #117F7A;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 0;
}

.people__item__header > h4{
    display: inline-block;
    margin: 0 0 0 6px;
}

.people__item__content{
    margin-left: 46px;
}

.people__item__content > p{
    margin: 8px 0;
}

.people__item__content__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.people__item__content__contact p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

@media (max-width: 768px) {
    .people__item__content__contact > *{
        flex: 1 1 100%;
        margin: 8px 0;
    }
}