header{
    height: 60px;
    color: #ffffff;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 16px;
    background-color: #19BFB8;
}

.header-content__logo img{
    width: 40px;
}

.header-content__logo h2{
    margin: 0px 0px 0px 8px;
    font-size: 22px;
    display: inline;
    vertical-align: middle;
}

.header-content__dev img{
    width: 40px;
    border-radius: 100px;
}

@media (max-width: 768px) {

}